/.LCKfourqueen.java~
/.vscode
/factorial.java
/insertionsort.java
/KruskalsMST.java
/mergesort.java
/min_max.java
/monkeybanana.java
/selection.java
/Shortestpath.java
/static
/subjectmarks.java
/takinginput.class
/takinginput.java
/TemperatureConverter.java
/TOH.java
/TravelingSalesman.java
/tUf.java
/WaterJugProblem.java
/z_score.java